<footer>
  <div class="footer-content">
    <p class="footer-text">&copy; <%= fullName %>. All rights reserved.</p>
    <a href="<%= instagram %>" target="_blank"><img class="icons" src="/pictures/InstagramLogo/Instagram_Glyph_White.png">
  </div>
</footer>
  

<script src="js/index.js"></script>
</body>
</html>