<%- include('./partials/header') %>
<h2>MY PORTFOLIO</h2>
<div class="portfolio">
  <% pictureNames.map((row) => { %>
    <div class="picture-row">
      <% row.map((picture) => { %>
      <figure class="portfolio-item">
        <img src="pictures/komprimiert/<%= picture %>-min.JPG" alt="Picture <%= picture %>">
      </figure>
      <% }) %>
    </div>
  <% }) %>
</div>

<div id="imageViewer" class="image-viewer" style="display: none;">
  <span class="close">&times;</span>
  <span class="nav left">&#10094;</span>
  <img class="viewer-image" src="" alt="Image viewer">
  <span class="nav right">&#10095;</span>
</div>
<%- include('./partials/footer') %>